.divTable { display:table; border-collapse:collapse;width:480px;height: 480px;}
.divTr { display:table-row; }
.divTd {
  display: table-cell; border:1px solid gray; text-align:center;
  width: 30%;
  height: 30%;
}

.pannel{
	margin: 0;
	padding: 0;
	background-size:cover;
}

.hima {
	background: url(../../img/hima_pannel150.png);
	background-size:cover;
}
