/* You can add global styles to this file, and also import other style files */
.divTable { display:table; border-collapse:collapse; width:100%}
.divTr { display:table-row; }
.divTh { background: gray; text-align: center; color: white; }
.divTd { display:table-cell; border:1px solid gray; }
.divCell { display: table-cell; border: 1px solid black; padding: 5px; }

.divCell_Center { text-align: center; }
.divCell_Left { text-align: left; }
.divCell_Right { text-align: right; }
