div {
  float: left;
  border:1px
  solid gray;
  text-align:center;
  width: 160px;
  height: 160px;
  margin: 0;
	padding: 0;
	background-size:cover;
  background: url(../../img/hima_pannel150.png);
/*  background-image: url(../../img/tsubushi_pannel.png); */
}
